<div class="row">
    <div class="col-md-8">
        {{#if data.item}}
            <article>
                <h2>{{data.item.title}}</h2>
                <img src="{{data.item.featureImage}}" alt="{{data.item.title}}" class="img-fluid">
                <br /><br />
                {{#safeHTML data.item.body}}{{/safeHTML}}
                <br /><br />
                <p><strong>Category:</strong> {{data.item.category}}</p>
                <p><strong>Price:</strong> ${{data.item.price}}</p>
                <p><strong>Last Updated:</strong> {{data.item.itemDate}}</p>
            </article>
        {{else}}
            <div class="col-md-12 text-center">
                <h2>{{data.message}}</h2>
                <p>Please try another Item / Category</p>
            </div>
        {{/if}}
    </div>
    <div class="col-md-4">
        {{#if data.items}}
            <h4>Items</h4>
            <ul>
                {{#each data.items}}
                    <li><a href="/shop/{{id}}?category={{../viewingCategory}}">{{title}}</a></li>
                {{/each}}
            </ul>
        {{/if}}
        {{#if data.categories}}
            <h4>Categories</h4>
            <ul>
                {{#each data.categories}}
                    <li><a href="/shop?category={{id}}">{{category}}</a></li>
                {{/each}}
            </ul>
        {{/if}}
    </div>
</div>
